[Unit]
Description=usbredirserver
Wants=network.target
After=network.target

[Service]
Type=simple

ExecStart=/bin/usbredirserver.sh
ExecRestart=/bin/usbredirreload.sh
ExecReload=/bin/usbredirreload.sh

[Install]
WantedBy=multi-user.target
